{% load staticfiles %}

<html>
  <head>
    <title>Lansdale Beer Tasting Festival Administration</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/modern-business.css' %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footable.bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lbtf.css' %}">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/footable.js' %}"></script>
    <script type="text/javascript">
      jQuery(function($){
        $('.footable').footable();
      });
    </script>

  </head>

  <body>

    {% include 'lbtf/navbar.html' %}

    <div class="container">
      {% include 'lbtf/login_modal.html' %}
      {% block content %}{% endblock %}

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; <a href="http://lansdalebeerfest.com/" target="_blank">Lansdale Beer Tasting Festival</a></p>
          </div>
        </div>
      </footer>

      {% block extra-js %}{% endblock %}

    </div>
  </body>
</html>
