{% extends 'lbtf/base.html' %}
{% load static %}

{% block content %}
<form action="{{ action }}" method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>
    {% if brewery.id %}
    <h2>Edit Brewery</h2>
    <input type="hidden" value="{{ brewery.id }}" id="brewery_id" />
    {% else %}
    <h2>Add Brewery</h2>
    {% endif %}
    <hr>
    {% for field in form %}
    <div class="form-group" id="{{ field.auto_id }}_container">
      <label class="col-md-2 control-label" for="{{ field.label }}">{{ field.label_tag }}</label>
      <div class="col-md-4">{{ field }}</div>
    </div>
    {% endfor %}

    <input id="save_brewery" type="submit" class="btn btn-primary" value="Save" />
    <a href="{% url "brewery_list" %}" class="btn btn-default">Cancel</a>
  </fieldset>
</form>
{% endblock %}
