{% extends 'lbtf/base.html' %}
{% load static %}

{% block content %}
<h2>Complete Brewery List
  {% if user.is_authenticated %}
  <a href="{% url "brewery_new" %}" class="btn btn-primary"
     style="float:right; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">Add Brewery</a>
  {% endif %}
</h2>
<hr>
<table class="table footable" data-sorting="true" data-filtering="true" data-show-toggle="false">
  <thead>
    <th data-type="html" data-sortable="false" data-filterable="false"></th>
    <th data-type="html" data-breakpoints="">Brewery</th>
    {% if user.is_authenticated %}
    <th data-type="html" data-sortable="false" data-filterable="false"></th>
    <th data-breakpoints="all">Created By</th>
    <th data-breakpoints="all">Created Date</th>
    <th data-breakpoints="all">Last Update By</th>
    <th data-breakpoints="all">Last Update Date</th>
    {% endif %}
  </thead>
  <tbody>
    {% for brewery in breweries %}
    <tr>
      <td>
        <img src="{{ brewery.logo.url }}" alt="..." style="height:64px; width:64px; vertical-align:middle">
      </td>
      <td>
        <strong>{{ brewery.brewery_name }}</strong>
        <br>{{ brewery.city }}, {{ brewery.state_province }} {{ brewery.country }}
        <br><a href="{{ brewery.website }}">{{ brewery.website }}</a>
      </td>
      {% if user.is_authenticated %}
      <td><a href="{% url "brewery_edit" pk=brewery.id %}" class="btn btn-primary glyphicon glyphicon-edit"></a></td>
      <td>{{ brewery.added_by }}</td>
      <td>{{ brewery.added_dt }}</td>
      <td>{{ brewery.updated_by }}</td>
      <td>{{ brewery.updated_dt }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
