{% extends 'lbtf/base.html' %}
{% load static %}

{% block content %}
<form action="{{ action }}" method="POST" class="form-horizontal" role="form">
  {% csrf_token %}
  <fieldset>
    {% if event_beer.id %}
    <h2>Edit Beer at Event</h2>
    <input type="hidden" value="{{event_beer.id}}" id="event_beer_id" />
    {% else %}
    <h2>Add Beer to Event</h2>
    {% endif %}
    <hr>
    {% for field in form %}
    <div class="form-group" id="{{ field.auto_id }}_container">
      <label class="col-md-2 control-label" for="{{ field.label }}">{{ field.label_tag }}</label>
      <div class="col-md-4">{{ field }}</div>
    </div>
    {% endfor %}
    <input id="save_event_beer" type="submit" class="btn btn-primary" value="Save" />
    <a href="{% url "event_beer_list" %}" class="btn btn-default">Cancel</a>
  </fieldset>
</form>
{% endblock %}

{% block extra-js %}
<script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
{% endblock %}
