{% extends 'lbtf/base.html' %}

{% block content %}
  <!--<div class="container"><form class="form-horizontal"><fieldset>-->
  <legend><h2>Event Beer List</h2></legend>
    <table style="display: table;" class="table table-striped footable" data-sorting="true" data-filtering="true" >
    <!--<table class="footable" data-sorting="true" data-filtering="true" style="display:table;">-->
      <thead>
        <th>Beer</th>
        <th>Style</th>
        <th data-breakpoints="xs">ABV</th>
        <th data-breakpoints="xs">VIP</th>
        <th data-breakpoints="xs">Bottle Row</th>
        <th data-breakpoints="xs"></th>
      </thead>
      <tbody>
      {% for event_beer in event_beers %}
        <tr>
          <td>{{ event_beer.beer.brewery }} {{ event_beer.beer.beer_name }}</td>
          <td>{{ event_beer.beer.style }}</td>
          <td>{{ event_beer.beer.abv }}</td>
          <td>{{ event_beer.vip }}</td>
          <td>{{ event_beer.bottle_row }}</td>
          <td><a href="{% url "event_beer_edit" pk=event_beer.id %}">edit</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  <!--</fieldset></form></div>-->

{% endblock %}
